---
import Layout from "@layouts/Layout.astro";
import ClipboardText from "@/assets/ClipboardText.svg";
import Search from "@/assets/Search.svg";
import CalendarEvent from "@/assets/CalendarEvent.svg";
import Paperclip from "@/assets/Paperclip.svg";
import ClipboardCheck from "@/assets/ClipboardCheck.svg";
import { Navar } from "@/components/React/Navar";
---

<Layout title="index">
  <div class="w-full h-screen grid grid-cols-10 grid-rows-10">
    <nav
      class="col-span-2 row-span-10 overflow-hidden
      flex flex-col gap-10 px-5 py-3 bg-[#47FDB4] text-[#19291B] botder"
    >
      <a href="/" class="text-4xl font-bold">TaskPlus+</a>

      <Navar client:load />
    </nav>
    <!-- <ul class="h-full flex flex-col gap-5">
        <li>
          <a
            class="flex items-center gap-2 hover:text-[#3B5140] transition ease duration-200"
            href="#"><Search />Buscar Tareas</a
          >
        </li>
        <li>
          <a
            class="flex items-center gap-2 hover:text-[#3B5140] transition ease duration-200"
            href="#"><ClipboardText />Crear Tarea</a
          >
        </li>
        <li>
          <a
            class="flex items-center gap-2 hover:text-[#3B5140] transition ease duration-200"
            href="#"><CalendarEvent />Calendario</a
          >
        </li>
        <li>
          <a
            class="flex items-center gap-2 hover:text-[#3B5140] transition ease duration-200"
            href="#"><Paperclip /> Tareas Incompletas</a
          >
        </li>
        <li>
          <a
            class="flex items-center gap-2 hover:text-[#3B5140] transition ease duration-200"
            href="#"><ClipboardCheck /> Tareas Copletadas</a
          >
        </li>
      </ul> -->
  </div>
  <main
    class="col-span-8 row-span-8 col-start-3 row-start-1 overflow-hidden border"
  >
  </main>
  <footer
    class="col-span-10 row-span-2 col-start-3 row-start-9 overflow-hidden border"
  >
  </footer>
</Layout>
