---
import Layout from "@layouts/Layout.astro";
import { Navar } from "@/components/React/Navar";
---

<Layout title="index">
  <header
    class="flex justify-between items-center gap-10 px-5 py-3 bg-[#47FDB4] text-[#19291B] botder"
  >
    <a href="/" class="text-4xl font-bold">TaskPlus+</a>

    <Navar client:load />
  </header>
</Layout>
