---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Login">
  <section class="w-full h-screen flex items-center wallpaper">
    <div
      class="w-full min-h-140 backdrop-blur-md max-w-xl border border-white mx-auto shadow-xl
      rounded-3xl flex flex-col justify-center p-10 mt-20 text-white"
    >
      <h1 class="text-center text-5xl mb-5 font-bold">Login</h1>
      <form
        id="form-login"
        class="h-full overflow-hidden flex flex-col justify-center
      gap-10 py-10 px-2"
      >
        <input
          type="email"
          id="userEmail"
          placeholder="Email"
          required
          class="w-full p-2 border-b border-white focus:bg-neutral-400/30 focus:outline-0 rounded-t-md transition ease duration-200"
        />

        <input
          type="password"
          id="userPassword"
          placeholder="Password"
          required
          class="w-full p-2 border-b border-white focus:bg-neutral-400/30 focus:outline-0 rounded-t-md transition ease duration-200"
        />

        <button
          type="submit"
          class="w-full h-12 cursor-pointer bg-green-100 hover:bg-green-200 border border-white text-black font-bold
            rounded-md shadow-md transition ease duration-200"
        >
          Login
        </button>
      </form>
      <a
        href="/register"
        class="text-center text-neutral-50 hover:text-neutral-100 transition ease-in-out duration-200 pt-2 text-xs"
      >
        Register here
      </a>
    </div>
  </section>
</Layout>

<script>
  const form = document.getElementById("form-login");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const emailInput = document.getElementById("userEmail") as HTMLInputElement;
    const passwordInput = document.getElementById(
      "userPassword",
    ) as HTMLInputElement;

    const userEmail = emailInput.value;
    const userPassword = passwordInput.value;

    try {
      const res = await fetch("http://localhost:1234/user/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify({ userEmail, userPassword }),
      });

      alert("asta aca todo bien");

      const data = await res.json();

      if (!res.ok) {
        alert(data.message || "Error al iniciar sesión");
        return;
      }

      window.location.href = "/";
    } catch (error) {}
  });
</script>

<style>
  .wallpaper {
    background-image: url("./fondo.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: cover;
  }
</style>
